# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/
static_root/

# Local settings
local_settings.py

# dotenv
.env

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Virtualenv
venv/
env/
ENV/
.venv/

# pip wheel cache
*.whl

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# Test logs
test-results/

# Build artifacts
build/
Lib/
dist/
*.egg-info/
.eggs/
