/* ------------------------------------------------------------------------------------- GENERAL CLASSES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

:root{
    --first-color : #867b62;
    --second-color : #7a7a7a;
    --third-color : #251201;
}

/* ------------------------------------------------------------------------------------- MAIN PART */
/* -------------------------------------------- INDEX 1 */
/* ------------------------- header */

header{
    width: 100%;
    height: 7vh;
    background: var(--third-color);
    top: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
}

header section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0 30px;
}

/* ------------------------- logo */

header h3{
    color: var(--first-color);
    font-weight: 400;
}

/* ------------------------- search-bar */

.search-bar input {
    width: 400px;
    height: 35px;
    border: none;
    background: var(--first-color);
    color: var(--third-color);
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
}

.search-bar input::placeholder {
    color: var(--third-color);
    font-style: italic;
    font-size: 15px;
}

.search-bar input:focus,
.search-bar input:active,
.search-bar input:hover{
    outline: none;
    box-shadow: 0 0 30px var(--second-color);
    transition: all 0.3s;
}

/* ------------------------- nav-buttons */

.nav-buttons{
    display: flex;
    gap: 10px;
}

.nav-buttons button {
    width: 100px;
    height: 35px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background-color: var(--third-color);
    color: var(--first-color);
}

.second-button button{
    background-color: var(--first-color);
    color: var(--third-color);
}

.nav-buttons button:hover{
    transition: all 0.3s;
    box-shadow: 0 0 50px var(--second-color);
}

/* ------------------------- main */

main{
    background: url("img/main.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* ------------------------- buttons */

.buttons{
    padding-top: 41%;
    gap: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button{
    width: 200px;
    height: 60px;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    border-radius: 15px;
    background: var(--third-color);
    color: var(--first-color);
}

.buttons button:hover{
    color: var(--third-color);
    background: var(--first-color);
    transition: all 0.3s;
    box-shadow: 0 0 50px var(--second-color);
}

/* -------------------------------------------- Log-In */





/* -------------------------------------------- Sign-Up */





/* -------------------------------------------- Manage Books */





/* -------------------------------------------- INDEX 5 */





/* -------------------------------------------- List Page */





/* -------------------------------------------- Book Page */





/* -------------------------------------------- Profile */





/* -------------------------------------------- Borrowed Books */





/* ------------------------------------------------------------------------------------- RESPONSIVE PART */
/* -------------------------------------------- INDEX 1 */





/* -------------------------------------------- Log-In */





/* -------------------------------------------- Sign-Up */





/* -------------------------------------------- Manage Books */





/* -------------------------------------------- INDEX 5 */





/* -------------------------------------------- List Page */





/* -------------------------------------------- Book Page */





/* -------------------------------------------- Profile */

#labels{
    
    font-size:15px;
    color: rgb(2, 15, 27);
    padding: 15px;
    position:absolute;
    padding-left: 350px;
    padding-top:200px;

}
#labels >label{
    font-weight: bolder;
    color:white;
    display: inline-block;
    padding-top:25px;
    padding-right:52px ;

}
#labels input{
    width: 350px;
    padding :5px 10px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 12px;
}
#gend{
    margin-top:27px ;
    color:white
}

#formgender{
    margin-top: 20px;
    

}
.male, .female{
    display: flex;
    border: 2px solid #ccc; 
    border-radius: 28px;
   
}

#male,#female {
    display: none;
}

.male,.female {
    margin-left: 50px;
    cursor: pointer;
    background-color: white;
    color: #666;
    font-weight: bold;
    transition: all 0.3s ease;
    display:inline-block;
}
.male{
   padding:20px 50px;
}
.female{
    padding:20px 40px;
}

.male:hover  {
    background-color: #3714e4;
    color: white;
    opacity:12%;
    box-shadow: 2px 2px  #3714e4;
}
.female:hover  {
    background-color: #e621b4; 
    color: white;
    opacity:12%;
    box-shadow: 2px 2px  #e621b4;

}
#female:checked +label {
    background-color: #e621b4; 
    color: white;
}

 #male:checked+label  {
    background-color: #3714e4; 
    color: white;
}

    
#submit{
    font-size: 15px;
    font-weight: bolder;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: rgb(234, 22, 22);
    color: white;
    border: 2px rgb(233, 231, 231) solid;
    cursor: pointer;
    transition: 1.2s ease;
    padding:10px 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-left:390px ;
    margin-top: 40px;
    border-radius: 15px;
    

}
#submit:hover{
    background-color: rgb(234, 22, 22);
    border-width: 2px black solid;
    text-shadow: 2px 2px 5px rgba(2, 2, 0, 0.5);
    padding:10px 16px;
    opacity: 50%;
    
    
    
}
#submit:focus{
    background-color: rgb(234, 22, 22);
    border-width: 2px black solid;

    box-shadow: 2px 2px 5px rgba(2, 2, 0, 0.5);
    padding:10px 16px;
    
}
#borrowed  {
    font-weight: bolder;
    width: 150px;
    height: 35px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background-color: var(--third-color);
    color: var(--first-color);
    position:fixed;
    top: 30px;
    right: 10px;
    transition: all 0.3s;

}

#borrowed :hover{
    color: var(--third-color);
    background: var(--first-color);
    box-shadow: 0 0 50px var(--second-color);
}



/* -------------------------------------------- Borrowed Books */




