<!--  
 * Authors:
    * Author1: Esraa Emary Abd El-Salam      ID: 20230054
    * Author2: Mariam Badr Yehia             ID: 20230391
    * Author3: John Ayman Demian             ID: 20230109
    * Author4: Mohammed Atef Abd El-Kader    ID: 20231143
    * Author5: George Malak Magdy            ID: 20231042
    * Author6: Mohammed Nabil El-Sayed       ID: 20230358
 * Date : 
 * Prof : Dr. Neamat El Tazi
 * Description: 
 * Version: V1.0
-->
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-Review</title>
    {%load static %}
    <link rel="stylesheet" href="{% static 'css/user-style.css' %}">


    <link rel="icon" href="{% static 'img/icon.jpg'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
   
    
</head>
<body >
    <!-- -------------------------------------------- header  -->
    <header class="header">
        <section>
            <div class="logo">
                <h3>LibraSphere</h3>
            </div>

            <div class="ajax" style="position: relative;">
               <form class="search-bar" action="{% url 'Search' %}" method="GET">
                    <input type="hidden" name="user" value="{{ user.Name }}">
                    <button type="submit" class="search-icon" style="background: none; border: none;">
                    <i class="bx bx-search" title="Search"></i>
                    </button>
                    <input id="search" name="q" type="text" placeholder="Search by Title, Author or Category" title="Search" onkeyup="showHint2(this.value)" autocomplete="off">
                </form>
                <div id="txtHint" class="results-container"></div>
            </div>

            <nav class="nav">
                  <a  href="{% url 'Home' %}?user={{user.Name|urlencode}}">Home</a>
           
                {% if user.Name %}
                <a id="profile" href="{% url 'Profile' %}?user={{user.Name|urlencode}}">Profile</a>
                <a href="{% url 'About' %}?user={{user.Name|urlencode}}">About US</a>
                {% else %}
                <a id="sign" class="first-button" href="{% url 'Signup' %}?user={{user.Name|urlencode}}" title="Sign-Up">Sign-Up</a>
                <a id="login" href="{% url 'Login' %}?user={{user.Name|urlencode}}" title="Log-In">Log-In</a>
                {%endif%}
                {% if user.isadmin %}
                <a style="color: #4f88ba;" href="{% url "ManageBooks" %}?user={{user.Name|urlencode}}">Manage Books</a>
                {%elif not user.isadmin %}
                    <a style="color: #4f88ba;" href="{% url 'ListPage' %}?user={{user.Name|urlencode}}">Books</a>
                {% endif %}
                {% if user.Name %}
                <a id="logout" href="{% url 'Home' %}">Log-Out</a>
                {% endif %}
            </nav>
        </section>
    </header>

    <!-- -------------------------------------------- Book review  -->  

    <div id="bookReview"> 
        <div class="r-p-main">
            <div class="book-box">
                <div class="book-box-img">
                    <img id="bookCover" src="{{book.image.url}}" alt="Book Cover"> 
                </div>
                <div class="book-box-content">
                    <div class="book-details">
                        <div id="bookDetailsContainer">
                            
                        <h3>Book Title: <span id="bookTitle">{{book.Title}}</span></h3>
                        <h3>Book Category: <span id="bookCategory">{{book.category}}</span></h3>
                        <h3>Author: <span id="bookAuthor">{{book.Author}}</span></h3>
                        <h3>Price: <span id="bookPrice">{{book.Price}}$</span></h3> 
                        <h3>Description: <span id="bookDescription">{{book.description}}</span></h3>
                        <p id="bookStatus" class="status-badge"></p>
                        </div>
                    </div>
                    <a href="{%url 'ListPage'%}?user={{user|urlencode}}"><button>Back to list</button></a>
                </div>
            </div>
        </div>
    </div>
 
    <!-- -------------------------------------------- footer  -->
    <footer id="footer">
        <section  class="footer">
            <h2>CONTACT WITH US</h2>

            <div class="accounts">
                <a title="Esraa Emary" href="https://www.linkedin.com/in/esraa-emary-b372b8303/" target="blank"><i class='bx bxl-linkedin-square'></i></a>
                <a title="Mohammed Atef" href="https://www.linkedin.com/in/mohammed-atef-b0a408299/" target="blank"><i class='bx bxl-linkedin-square'></i></a>
                <a title="Mohammed Nabil" href="https://www.linkedin.com/in/mohamed-nabil-196869326/" target="blank"><i class='bx bxl-linkedin-square'></i></a>
                <a title="George Malak" href="https://www.linkedin.com/in/george-malak204/" target="blank"><i class='bx bxl-linkedin-square'></i></a>
                <a title="John Ayman" href="https://www.linkedin.com/in/john-ayman-aa30842b7/" target="blank"><i class='bx bxl-linkedin-square'></i></a>
                <a title="Mariam Badr" href="https://www.linkedin.com/in/mariambadr13/" target="blank"><i class='bx bxl-linkedin-square'></i></a>
            </div>

            <div class="foot1">
                <a href="../index.html">Home</a>
                <a href="List-Page.html">Books</a>
                <a href="About-Us.html">About Us</a>
            </div>
            
            <div class="foot2">
                <p class="copyright">
                    © LibraSphere | All Rights Reserved
                </p>
            </div>
        </section>
    </footer>
    
    <script src="../assets/js/Storing.js"></script>
</body>
</html>
