<!--  
 * Authors:
    * Author1: Esraa Emary Abd El-Salam      ID: 20230054
    * Author2: Mariam Badr Yehia             ID: 20230391
    * Author3: John Ayman Demian             ID: 20230109
    * Author4: Mohammed Atef Abd El-Kader    ID: 20231143
    * Author5: George Malak Magdy            ID: 20231042
    * Author6: Mohammed Nabil El-Sayed       ID: 20230358
 * Date : 
 * Prof : Dr. Neamat El Tazi
 * Description: 
 * Version: V1.0
-->
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrowed-Books</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user-style.css' %}">
    <link rel="stylesheet" href="{%static 'css/List-Page.css'%}">
    
    <link rel="icon" href="{% static 'img/icon.jpg' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
 
</head>
<body >
    <!-- -------------------------------------------- header  -->
     {%include "Pages/header.html"%}

<!-- -------------------------------------------- Borrowed Books  -->
    <section id="Books" class="container">
        <img src="{% static 'img/logo.jpg' %}" alt="LibraSphere Logo" class="logoPage">
        <p class="marginTitle"><Bold>Your gateway to knowledge and culture. Accessible for everyone.</Bold></p>
        
   

        {% if borrowed %}

        
        <h2>My Borrowed Books</h2>
        <div class="booktype">
        
            <div class="cards">
                {% for borrow in borrowed %}
                    
                        
                        <div class="card">
                        
                            <img src="{{ borrow.book.image.url }}" alt="{{ book.Title }}">
                            
                            <figcaption>
                                <h5 class="title"  >{{ borrow.book.Title }}</h5>
                                
                                <p class="author">{{ borrow.book.Author }}</p>
                                <p class="price">{{ borrow.book.Price }}$</p>
                            </figcaption>

                     
                        
                        <div class="card-actions">
                            <a href="{% url 'Bookreview' %}?title={{ borrow.book.Title|urlencode }}&author={{ borrow.book.author|urlencode }}">
                                <button class="Book-Review-btn"><i class="fas fa-book-open"></i>Book Review</button>
                            </a>
                            
                            <form method="POST"  id="return-form"> 
                                {% csrf_token %}
                                <input type="hidden" id="title" name="title" value="{{ borrow.book.Title }}">

                                <h5 class="title" name ="title" style="display:none;" >{{ borrow.book.Title }} </h5>

                                <button class="return-btn" name="return" id="return" type="submit" >
                                                    <i class="fas fa-hand-holding"></i>return book
                                                </button>
                                                
                                    
                            </form>   
                        </div>
                    </div>

                                    
                                    
                {% endfor %}    
                                    
                                    {% else %}
                                    <p>You haven't borrowed any books yet.</p>
                                    {% endif %}
             </div>
    </div>

        </section>
    </footer>
    

<!-- Pass data to JavaScript safely -->


<script src={%static "js/Borrowed-Books.js"%}>

</script>

</body>
</html>
