<!--  
 * Authors:
    * Author1: Esraa Emary Abd El-Salam      ID: 20230054
    * Author2: Mariam Badr Yehia             ID: 20230391
    * Author3: John Ayman Demian             ID: 20230109
    * Author4: Mohammed Atef Abd El-Kader    ID: 20231143
    * Author5: George Malak Magdy            ID: 20231042
    * Author6: Mohammed Nabil El-Sayed       ID: 20230358
 * Date : 
 * Prof : Dr. Neamat El Tazi
 * Description: 
 * Version: V1.0
-->
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="../assets/css/user-style.css">
    <link rel="icon" href="../assets/img/icon.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <script src="../assets/js/script.js" defer></script>
    <script src="../assets/js/Storing.js" defer></script>
</head>
<body >
    <!-- -------------------------------------------- header  -->
    <header class="header">
        <section>
            <div class="logo">
                <h3>LibraSphere</h3>
            </div>

            <div class="ajax" style="position: relative;">
                <form class="search-bar" action="Search.html" method="GET">
                    <a style="cursor: auto;" type="submit" class="search-icon"><i class="bx bx-search" title="Search"></i></a>
                    <input id="search" name="q" type="text" placeholder="Search by Title, Author or Category" title="Search" onkeyup="showHint2(this.value)" autocomplete="off">
                </form>
                <div id="txtHint" class="results-container"></div>
            </div>

            <nav class="nav">
                <a href="../index.html">Home</a>
                <a style="color: #4f88ba;" href="List-Page.html">Books</a>
                <a id="manage" href="Manage-Books.html">Manage Books</a>
                <a id="profile" href="Profile.html">Profile</a>
                <a href="About-Us.html">About US</a>
                <a id="sign" class="first-button" href="Sign-Up.html" title="Sign-Up">Sign-Up</a>
                <a id="login" href="Log-In.html" title="Log-In">Log-In</a>
                <a id="logout" href="../index.html">Log-Out</a>
            </nav>
        </section>
    </header>

<!-- -------------------------------------------- List Of Books  -->
<section id="Books" class="container">
    <img src="../assets/img/logo.jpg" alt="LibraSphere Logo" class="logoPage">
    <p class="marginTitle"><Bold>Your gateway to knowledge and culture. Accessible for everyone.</Bold></p>
    <br>
    
    <div id="list-books" class="container"></div>

</section>

    <!-- -------------------------------------------- footer  -->
    <footer id="footer">
        <section  class="footer">
            <h2>CONTACT WITH US</h2>

            <div class="accounts">
                <a title="Esraa Emary" href="https://www.linkedin.com/in/esraa-emary-b372b8303/" target="blank"><i class='bx bxl-linkedin-square'></i></a>
                <a title="Mohammed Atef" href="https://www.linkedin.com/in/mohammed-atef-b0a408299/" target="blank"><i class='bx bxl-linkedin-square'></i></a>
                <a title="Mohammed Nabil" href="https://www.linkedin.com/in/mohamed-nabil-196869326/" target="blank"><i class='bx bxl-linkedin-square'></i></a>
                <a title="George Malak" href="https://www.linkedin.com/in/george-malak204/" target="blank"><i class='bx bxl-linkedin-square'></i></a>
                <a title="John Ayman" href="https://www.linkedin.com/in/john-ayman-aa30842b7/" target="blank"><i class='bx bxl-linkedin-square'></i></a>
                <a title="Mariam Badr" href="https://www.linkedin.com/in/mariambadr13/" target="blank"><i class='bx bxl-linkedin-square'></i></a>
            </div>

            <div class="foot1">
                <a href="../index.html">Home</a>
                <a href="List-Page.html">Books</a>
                <a href="About-Us.html">About Us</a>
            </div>
            
            <div class="foot2">
                <p class="copyright">
                    © LibraSphere | All Rights Reserved
                </p>
            </div>
        </section>
    </footer>
    
   <script src="../assets/js/Storing.js"></script>
</body>
</html>
