<!--  
 * Authors:
    * Author1: Esraa Emary Abd El-Salam      ID: 20230054
    * Author2: Mariam Badr Yehia             ID: 20230391
    * Author3: John Ayman Demian             ID: 20230109
    * Author4: Mohammed Atef Abd El-Kader    ID: 20231143
    * Author5: George Malak Magdy            ID: 20231042
    * Author6: Mohammed Nabil El-Sayed       ID: 20230358
 * Date : 
 * Prof : Dr. Neamat El Tazi
 * Description: 
 * Version: V1.0
-->
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="icon" href="../assets/img/icon.jpg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body >
    <!-- -------------------------------------------- header  -->
    <header class="header">
        <section>
            <div class="logo">
                <h3>LibraSphere</h3>
            </div>

            <div class="ajax" style="position: relative;">
       
                <div id="txtHint" class="results-container"></div>
            </div>

            <nav class="nav">
           
                <a style="color: #4f88ba;" id="sign" class="first-button" href="{% url 'Signup' %}?user={{user.Name|urlencode}}" title="Sign-Up">Sign-Up</a>
                <a id="login" href="{% url 'Login' %}?user={{user.Name|urlencode}}" title="Log-In">Log-In</a>
                
              
            </nav>
        </section>
    </header>

        <!-- -------------------------------------------- Sign Up  -->
    <section class="signUpPage">
    
        <div class="signUpForm">
            <h1>Sign-Up</h1>
            <form action="{% url 'Signup' %}" method="post" id="signUpForm">

                {% csrf_token %} 
                {% if successmessage %}
                    <div class="success-message" style="color:green">{{ successmessage }}</div>
                {% endif %}
                
                <div class="inputData">
                    <div class="userName">
                        <label for="userName">Username:</label>
                        <input type="text" id="userName" name="userName" placeholder="Enter your username" required>
                    </div>
                
                    <div id="erroruser" style="color:red"></div>
             
                    <div class="email">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Enter your email" required>
                    </div>
                   
                    <div id="erroremail" style="color:red"></div>
            
                    
                    <div class="password">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    </div>
                  
                    <div id="errorpassword" style="color:red"></div>
            
                    
                    <div class="confirmPassword">
                        <label for="confirmpassword">Confirm Password:</label>
                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" required>
                    </div>
                    <div class="radioChoices">
                        <label>Your are:</label>
                        <div class="choices">
                            <div class="">
                                <input type="radio" name="role" id="admin" value="admin">
                                <label for="admin">Admin</label>
                            </div>
                            
                            <div class="">
                                <input type="radio" name="role" id="user" value="user" required>
                                <label for="user">User</label>
                            </div>
                            
                        </div>
                    </div>
                    
                    
                </div>
                <div id="error-message" style="color:red"></div>
                <div class="formBtn">
                    
                    <button type="submit" class="signUpBtn">Sign Up</button>

                    
                    <p>Already have an account? <a href={% url "Login" %}>Log-In</a></p>
                 
                </div>
            </form>
        </div>
    </section>
    
    <!-- -------------------------------------------- footer  -->
    <footer id="footer">
        <section  class="footer">
            <h2>CONTACT WITH US</h2>

            <div class="accounts">
                <a title="Esraa Emary" href="https://www.linkedin.com/in/esraa-emary-b372b8303/" target="blank"><i class='bx bxl-linkedin-square'></i></a>
                <a title="Mohammed Atef" href="https://www.linkedin.com/in/mohammed-atef-b0a408299/" target="blank"><i class='bx bxl-linkedin-square'></i></a>
                <a title="Mohammed Nabil" href="https://www.linkedin.com/in/mohamed-nabil-196869326/" target="blank"><i class='bx bxl-linkedin-square'></i></a>
                <a title="George Malak" href="https://www.linkedin.com/in/george-malak204/" target="blank"><i class='bx bxl-linkedin-square'></i></a>
                <a title="John Ayman" href="https://www.linkedin.com/in/john-ayman-aa30842b7/" target="blank"><i class='bx bxl-linkedin-square'></i></a>
                <a title="Mariam Badr" href="https://www.linkedin.com/in/mariambadr13/" target="blank"><i class='bx bxl-linkedin-square'></i></a>
            </div>

            <div class="foot1">
                <a href="../index.html">Home</a>
                <a href="List-Page.html">Books</a>
                <a href="About-Us.html">About Us</a>
            </div>
            
            <div class="foot2">
                <p class="copyright">
                    © LibraSphere | All Rights Reserved
                </p>
            </div>
        </section>
    </footer>
    
    <script >
       

    document.getElementById('signUpForm').addEventListener('submit', function(e) {
        e.preventDefault();  
        
        var xml= new XMLHttpRequest();
        xml.open('POST', '{% url "Signup" %}', true);

        var formData = new FormData(this);
      xml.onload = function() {
        if (xml.status === 200) {
            var response = JSON.parse(xml.responseText);
            if (response.success) {
                window.location.href = "{% url 'Login' %}?user={{ user.Name|urlencode }}";
            } else {
                document.getElementById('erroruser').textContent = '';
                document.getElementById('errorpassword').textContent = '';
                document.getElementById('erroremail').textContent = '';
                document.getElementById(response.type).textContent = response.error_message;
            }
        } else {
            document.getElementById('error-msg').textContent = 'There was an error with the signup request.';
        }
    };
          xml.onerror = function() {
        document.getElementById('error-msg').textContent = 'There was an error with the request.';
    };
        xml.send(formData);  
    }

    )

    </script>
</body>
</html>
