/* ------------------------------------------------------------------------------------- GENERAL CLASSES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --first-color: #000;
    --second-color: rgba(106, 105, 105, 0.6);
    --third-color: #fefefe;
    --fourth-color: #4f88ba;
    --card-background: #b49d65;
}

::-webkit-scrollbar {
    width: 15px; 
}

::-webkit-scrollbar-track {
    background-color: var(--third-color); 
}

::-webkit-scrollbar-thumb {
    background-color: var(--fourth-color);
    border-radius: 15px;
}

/* ------------------------------------------------------------------------------------- MAIN PART */
/* -------------------------------------------- INDEX */
/* ------------------------- header */

.header {
    width: 100%;
    height: 7vh;
    background: var(--third-color);
    top: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        padding: 0 30px;
    }
    
    /* ------------------------- logo */

    h3 {
        color: var(--fourth-color);
        font-weight: 600;
        font-size: 1.5rem;
    }
}

/* ------------------------- search-bar */

.search-bar input {
    width: 400px;
    border: none;
    background: var(--third-color);
    color: var(--first-color);
    height: 40px;
    padding: 0 0 0 30px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid var(--first-color);
    transition: all 0.3s ease-in-out;
}

.search-bar input::placeholder {
    color: var(--first-color);
    font-style: italic;
    font-size: 15px;
}

.search-bar input:focus,
.search-bar input:active,
.search-bar input:hover {
    outline: none;
}

.search-bar:focus,
.search-bar:active,
.search-bar:hover {
    box-shadow: 0 0 30px var(--second-color);
    border-radius: 10px;
}

.search-bar{
    position: relative;
}

.search-bar a{
    color: var(--first-color);
    position: absolute;
    left: 10px;
    top: 10px;
}

/* ------------------------- nav */

.nav {
    display: flex;
    gap: 10px;
}

.nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--first-color);
    transition: all 0.3s ease-in-out;
}

.nav a:hover{
    color: var(--fourth-color);
    transform: scale(1.1);
}

/* ------------------------- home-page */

.home-page {
    background: url("../img/home.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page div{
    color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.home-page div p{
    font-weight: 400;
    font-size: 1rem;
}

.home-page div h1{
    font-weight: 500;
    font-size: 4rem;
    font-family: "Prata", serif;
}

.home-page a{
    padding-top: 4rem;
}

.home-page button{
    background-color: transparent;
    color: var(--third-color);
    border: 1px solid var(--third-color);
    font-size: 18px;
    width: 200px;
    height: 60px;
}

.home-page button:hover {
    background-color: var(--third-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--first-color);
    cursor: pointer;
}

/* ------------------------- slider-books */

.slider-books{
    padding-top: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 25px;
    text-align: center;
    
    .card {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 25px;
        padding: 1rem;
        max-width: 350px;
        border-radius: 40px;
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease-in-out;
        
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 5px;
            margin: auto;
            transition: all 0.3s ease-in-out;
        }
        
        p {
            font-style: italic;
        }
        
        .card-actions{
            margin-top: 25px;

            a{
                .borrow-btn{
                    border: none;
                    background-color: var(--fourth-color);
                    font-weight: 600;
                    padding: 10px 20px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    color: var(--third-color);
                    i {margin-right: 0.5rem;}
                }
                .borrow-btn:hover{
                    background-color: var(--first-color);
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    color: white;
                }
                
                .Book-Review-btn {
                    border: none;
                    background-color: var(--fourth-color);
                    font-weight: 600;
                    padding: 10px 20px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    color: var(--third-color);
                    i {margin-right: 0.5rem;}
                }
                
                .Book-Review-btn:hover {
                    background-color: var(--first-color);
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    color: white;
                }
            }
        }
    }
    
    .card img:hover {
        transform: scale(1.015);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

/* ------------------------- feed-back */

.feed-back{
    background-color: var(--third-color);
    width: 100%;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.feed-slides{
    display: flex;
    gap: 1rem;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.feed-slides div{
    display: none;
}

.slide{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: 800px;
}

.slide img{
    border-radius: 20rem;
    width: 300px;
    height: 300px;
}

.slide img:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.slide p{
    height: 100px;
}

div.display-slide{
    display: block;
}

/* ------------------------- footer */

.footer{
    background-color: rgb(27, 26, 26);
    width: 100%;
    height: 30vh;
    color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.foot1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-bottom: 30px;
}

.footer h2{
    font-weight: 500;
}

.footer a{
    text-decoration: none;
    color: var(--third-color);
}

.footer a{
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.footer i{
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.footer a:hover, .footer i:hover{
    color: var(--fourth-color);
    transform: scale(1.1);
}

.accounts{
    padding-bottom: 20px;
}

/* -------------------------------------------- Log-In */

.logInPage {
    /* background: url("../img/main.jpg"); */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    align-content: center;
    
    .logInForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 2.5rem;
        border-radius: 15px;
        max-width: 35%;
        border: 1px solid var(--first-color);
        
        h1 {
            font-size: 2.5rem;
        }
        
        h1, label {
            color: var(--first-color);
        }
        
        form {
            width: 100%;
            .inputData {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin: 3rem auto;
                .userName, .password{
                    display: flex;
                    flex-direction: column;
                    input {
                        border: 1px solid var(--first-color);
                        height: 40px;
                        padding: 0 10px;
                        font-size: 15px;
                        border-radius: 10px;
                        transition: all 0.35s ease;
                    }
                    
                    input::placeholder {
                        font-style: italic;
                        font-size: 15px;
                    }
                }
                
                .radioChoices{
                    display: flex;
                    label{
                        min-width: fit-content;
                        cursor: pointer;
                    }
                    .choices{
                        width: 100%;
                        display: flex;
                        padding: 0 3.5rem;
                        justify-content: space-between;
                        input {
                            accent-color: var(--fourth-color);
                        }
                    }
                }
            }
            
            .formBtn {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                gap: 2rem;
                .logInBtn{
                    border: none;
                    background-color: var(--fourth-color);
                    color: var(--third-color);
                    font-size: 1rem;
                    font-weight: 600;
                    padding: 10px 20px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                }
                
                .logInBtn:hover {
                    background-color: var(--first-color);
                    color: white;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
                
                p {
                    color: var(--first-color);
                    a {
                        color: var(--fourth-color);
                        margin-left: 0.5rem;
                        transition: all 0.3s ease-in-out;
                    }
                    a:hover {
                        color: var(--first-color);
                    }
                }
            }
        }
    }
}

/* -------------------------------------------- Sign-Up */

.signUpPage {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    align-content: center;
    
    .signUpForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 2rem;
        border-radius: 15px;
        max-width: 35%;
        border: 1px solid var(--first-color);
        
        h1 {
            font-size: 2.5rem;
        }
        
        form {
            width: 100%;
            .inputData {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin: 2rem auto;
                .userName, .password, .email, .confirmPassword{
                    display: flex;
                    flex-direction: column;
                    input {
                        border: 1px solid var(--first-color);
                        height: 40px;
                        padding: 0 10px;
                        font-size: 15px;
                        border-radius: 10px;
                        transition: all 0.35s ease;
                    }
                    
                    input::placeholder {
                        font-style: italic;
                        font-size: 15px;
                    }
                }
                
                .radioChoices{
                    display: flex;
                    label{
                        min-width: fit-content;
                        cursor: pointer;
                    }
                    .choices{
                        width: 100%;
                        display: flex;
                        padding: 0 3.5rem;
                        justify-content: space-between;
                        input {
                            accent-color: var(--fourth-color);
                        }
                    }
                }
            }
            
            .formBtn {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                gap: 1.5rem;
                .signUpBtn{
                    border: none;
                    background-color: var(--fourth-color);
                    color: var(--third-color);
                    font-size: 1rem;
                    font-weight: 600;
                    padding: 10px 20px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                }
                
                .signUpBtn:hover {
                    background-color: var(--first-color);
                    color: white;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
                
                p {
                    color: var(--first-color);
                    a {
                        color: var(--fourth-color);
                        margin-left: 0.5rem;
                        transition: all 0.3s ease-in-out;
                    }
                    a:hover {
                        color: var(--first-color);
                    }
                }
            }
        }
    }
}

/* ------------------------------------------------------------------------------------- RESPONSIVE PART */
/* -------------------------------------------- INDEX */

@media screen and (max-width: 1024px) {

    /* ------------------------- logo */

    .header h3 {
        font-size: 1rem;
    }

    /* ------------------------- search-bar */

    .search-bar input {
        width: 300px;
        height: 35px;
        font-size: 13px;
    }

    .search-bar input::placeholder {
        font-size: 13px;
    }

    .search-bar a{
        top: 5px;
        font-size: 0.8rem;
    }

    /* ------------------------- nav-buttons */

    .nav-buttons button {
        height: 35px;
        font-size: 13px;
    }

    /* ------------------------- sentences */

    .sentence-container {
        .sentences {
            .sentence {
                width: 210px;
                height: 40px;
                font-size: 1.03rem;
            }
        
            .sentence:nth-child(1) {
                transform: translateX(-180px);
            }
        
            .sentence:nth-child(2) {
                transform: translateX(-105px);
            }
        
            .sentence:nth-child(3) {
                transform: translateX(-30px);
            }
        
            .sentence:nth-child(4) {
                transform: translateX(35px);
            }
        
            .sentence:nth-child(5) {
                transform: translateX(110px);
            }
        
            .sentence:nth-child(6) {
                transform: translateX(185px);
            }
        
            .sentence:nth-child(7) {
                transform: translateX(260px);
            }
        }    
    }

    /* ------------------------- buttons */

    .buttons button {
        width: 160px;
        height: 60px;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {

    /* ------------------------- header */

    .header section {
        padding: 0 15px;
        
        /* ------------------------- logo */

        h3 {
            font-size: 0.8rem;
        }
    }

    /* ------------------------- search-bar */


    .search-bar input {
        width: 170px;
        height: 30px;
        font-size: 11px;
        padding: 0 0 0 25px;
    }

    .search-bar input::placeholder {
        font-size: 11px;
    }

    .search-bar a{
        top: 7px;
        font-size: 0.8rem;
    }

    /* ------------------------- nav-buttons */

    .nav-buttons {
        gap: 0px;
        
        button {
            display: none;
        }
    }

    /* ------------------------- sentences */

    .sentence-container {
        .sentences {
            width: 85%;
            margin-top: 8rem;
    
            .sentence {
                width: 185px;
                height: 30px;
                font-size: 0.9rem;
            }
        
            .sentence:nth-child(1) {
                transform: translateX(-65px);
            }
        
            .sentence:nth-child(2) {
                transform: translateX(-35px);
            }
        
            .sentence:nth-child(3) {
                transform: translateX(-5px);
            }
        
            .sentence:nth-child(4) {
                transform: translateX(25px);
            }
        
            .sentence:nth-child(5) {
                transform: translateX(55px);
            }
        
            .sentence:nth-child(6) {
                transform: translateX(85px);
            }
        
            .sentence:nth-child(7) {
                transform: translateX(115px);
            }
        }    
    }

    /* ------------------------- buttons */

    .buttons button {
        width: 120px;
        height: 50px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 425px) {

    /* ------------------------- sentences */

    .sentence-container {
        .sentences {
            width: 85%;
            margin-top: 8rem;
        
            .sentence {
                width: 142px;
                height: 20px;
                font-size: 0.7rem;
            }
        
            .sentence:nth-child(1) {
                transform: translateX(-55px);
            }
        
            .sentence:nth-child(2) {
                transform: translateX(-35px);
            }
        
            .sentence:nth-child(3) {
                transform: translateX(-15px);
            }
        
            .sentence:nth-child(4) {
                transform: translateX(5px);
            }
        
            .sentence:nth-child(5) {
                transform: translateX(25px);
            }
        
            .sentence:nth-child(6) {
                transform: translateX(45px);
            }
        
            .sentence:nth-child(7) {
                transform: translateX(65px);
            }
        }
    }
}

/* -------------------------------------------- Log-In */

@media screen and (max-width: 768px) {
    .logInPage {
        .logInForm {
            max-width: 80%;
            
            h1 {
                font-size: 2rem;
            }
            
            form {
                font-size: 0.8rem;
                .inputData {
                    margin: 2rem auto;
                    
                    .userName, .password {
                        input {
                            height: 30px;
                        }
                        
                        input::placeholder {
                            font-size: 0.75rem;
                        }
                    }
                    .radioChoices {
                        .choices {
                            padding: 0 1.5rem;
                        }
                    }
                }
                
                .formBtn{
                    gap: 1rem;
                                       
                    .logInBtn {
                        font-size: 0.85rem;
                        padding: 7.5px 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .logInPage {
        .logInForm {
            max-width: 90%;
            padding: 2rem 1.25rem;
            
            form {
                .inputData .radioChoices {
                    flex-direction: column;
                    gap: 0.5rem;
                    .choices {
                        padding: 0;
                    }
                }
            }
        }
    }
}

/* -------------------------------------------- Sign-Up */

@media screen and (max-width: 768px) {
    .signUpPage {
        .signUpForm {
            max-width: 80%;
            
            h1 {
                font-size: 2rem;
            }
            
            form {
                font-size: 0.8rem;
                .inputData {
                    margin: 2rem auto;
                    
                    .userName, .password, .email, .confirmPassword {
                        input {
                            height: 30px;
                        }
                        
                        input::placeholder {
                            font-size: 0.75rem;
                        }
                    }
                    .radioChoices {
                        .choices {
                            padding: 0 1.5rem;
                        }
                    }
                }
                
                .formBtn{
                    gap: 1rem;
                    
                    .signUpBtn {
                        font-size: 0.85rem;
                        padding: 7.5px 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .signUpPage {
        .signUpForm {
            max-width: 90%;
            padding: 2rem 1.25rem;
            
            form {
                .inputData .radioChoices {
                    flex-direction: column;
                    gap: 0.5rem;
                    .choices {
                        padding: 0;
                    }
                }
            }
        }
    }
}
