/* ------------------------------------------------------------------------------------- GENERAL CLASSES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --first-color: #000;
    --second-color: rgba(106, 105, 105, 0.6);
    --third-color: #fefefe;
    --fourth-color: #4f88ba;
    --card-background: #b49d65;
}

/* ------------------------------------------------------------------------------------- MAIN PART */
/* -------------------------------------------- INDEX */
/* ------------------------- header */

.header {
    width: 100%;
    height: 7vh;
    background: var(--third-color);
    top: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    
    section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        padding: 0 30px;
    }
    
    /* ------------------------- logo */

    h3 {
        color: var(--first-color);
        font-weight: 400;
    }
}

/* ------------------------- search-bar */

.search-bar input {
    width: 400px;
    border: none;
    background: var(--first-color);
    color: var(--third-color);
    height: 40px;
    padding: 0 0 0 30px;
    font-size: 15px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.search-bar input::placeholder {
    color: var(--third-color);
    font-style: italic;
    font-size: 15px;
}

.search-bar input:focus,
.search-bar input:active,
.search-bar input:hover {
    outline: none;
}

.search-bar:focus,
.search-bar:active,
.search-bar:hover {
    box-shadow: 0 0 30px var(--second-color);
}

.search-bar{
    position: relative;
}

.search-bar a{
    color: var(--third-color);
    position: absolute;
    left: 10px;
    top: 10px;
}

/* ------------------------- nav-buttons */

.nav-buttons {
    display: flex;
    gap: 10px;
    
    button {
        width: 75px;
        height: 40px;
        cursor: pointer;
        font-size: 15px;
        border: none;
        border-radius: 10px;
        background-color: var(--third-color);
        color: var(--first-color);
        transition: all 0.3s ease-in-out;
    }
}

.first-button button {
    background-color: var(--first-color);
    color: var(--third-color);
}

.nav-buttons button:hover {
    box-shadow: 0 0 50px var(--second-color);
    scale: 1.1;
}

.nav-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* ------------------------- main */

.main {
    background: url("../img/main.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}

/* ------------------------- sentences */

.sentence-container {
    display: flex;
    justify-content: center;
    
    .sentences {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--first-color);
        width: 80%;
        margin-top: 10rem;
        padding: 2rem 0;
        backdrop-filter: blur(10px);
        
        .sentence {
            position: relative;
            backdrop-filter: blur(10px);
            width: 310px;
            height: 50px;
            display: flex;
            align-items: center;
            opacity: 0;
        }
        
        .sentence:nth-child(1) {
            animation: slide-left 1s ease-out forwards 0s;
            transform: translateX(-250px);
        }
        
        .sentence:nth-child(2) {
            animation: slide-left 1s ease-out forwards 1s;
            transform: translateX(-150px);
        }
        
        .sentence:nth-child(3) {
            animation: slide-left 1s ease-out forwards 2s;
            transform: translateX(-50px);
        }
        
        .sentence:nth-child(4) {
            animation: slide-left 1s ease-out forwards 3s;
            transform: translateX(50px);
        }
        
        .sentence:nth-child(5) {
            animation: slide-left 1s ease-out forwards 4s;
            transform: translateX(150px);
        }
        
        .sentence:nth-child(6) {
            animation: slide-left 1s ease-out forwards 5s;
            transform: translateX(250px);
        }
        
        .sentence:nth-child(7) {
            animation: slide-left 1s ease-out forwards 6s;
            transform: translateX(350px);
        }
    }
}


@keyframes slide-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(-2*100px);
    }
}

/* ------------------------- buttons */

.buttons {
    gap: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    
    button {
        width: 200px;
        height: 60px;
        cursor: pointer;
        font-size: 1.5rem;
        border: none;
        border-radius: 15px;
        color: var(--third-color);
        background: var(--first-color);
        transition: all 0.3s ease-in-out;
    }
    
    button:hover {
        background-color: var(--third-color);
        color: white;
        box-shadow: 0 0 50px var(--first-color);
    }
}

/* -------------------------------------------- Log-In */

.logInPage {
    /* background: url("../img/main.jpg"); */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    align-content: center;
    
    .logInForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 2.5rem;
        border-radius: 15px;
        max-width: 35%;
        border: 1px solid var(--first-color);
        
        h1 {
            font-size: 2.5rem;
        }
        
        h1, label {
            color: var(--first-color);
        }
        
        form {
            width: 100%;
            .inputData {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin: 3rem auto;
                .userName, .password{
                    display: flex;
                    flex-direction: column;
                    input {
                        border: 1px solid var(--first-color);
                        height: 40px;
                        padding: 0 10px;
                        font-size: 15px;
                        border-radius: 10px;
                        transition: all 0.35s ease;
                    }
                    
                    input::placeholder {
                        font-style: italic;
                        font-size: 15px;
                    }
                }
                
                .radioChoices{
                    display: flex;
                    label{
                        min-width: fit-content;
                        cursor: pointer;
                    }
                    .choices{
                        width: 100%;
                        display: flex;
                        padding: 0 3.5rem;
                        justify-content: space-between;
                        input {
                            accent-color: var(--fourth-color);
                        }
                    }
                }
            }
            
            .formBtn {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                gap: 2rem;
                .logInBtn{
                    border: none;
                    background-color: var(--fourth-color);
                    color: var(--third-color);
                    font-size: 1rem;
                    font-weight: 600;
                    padding: 10px 20px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                }
                
                .logInBtn:hover {
                    background-color: var(--first-color);
                    color: white;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
                
                p {
                    color: var(--first-color);
                    a {
                        color: var(--fourth-color);
                        margin-left: 0.5rem;
                        transition: all 0.3s ease-in-out;
                    }
                    a:hover {
                        color: var(--first-color);
                    }
                }
            }
        }
    }
}

/* -------------------------------------------- Sign-Up */

.signUpPage {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    align-content: center;
    
    .signUpForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 2rem;
        border-radius: 15px;
        max-width: 35%;
        border: 1px solid var(--first-color);
        
        h1 {
            font-size: 2.5rem;
        }
        
        form {
            width: 100%;
            .inputData {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin: 2rem auto;
                .userName, .password, .email, .confirmPassword{
                    display: flex;
                    flex-direction: column;
                    input {
                        border: 1px solid var(--first-color);
                        height: 40px;
                        padding: 0 10px;
                        font-size: 15px;
                        border-radius: 10px;
                        transition: all 0.35s ease;
                    }
                    
                    input::placeholder {
                        font-style: italic;
                        font-size: 15px;
                    }
                }
                
                .radioChoices{
                    display: flex;
                    label{
                        min-width: fit-content;
                        cursor: pointer;
                    }
                    .choices{
                        width: 100%;
                        display: flex;
                        padding: 0 3.5rem;
                        justify-content: space-between;
                        input {
                            accent-color: var(--fourth-color);
                        }
                    }
                }
            }
            
            .formBtn {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                gap: 1.5rem;
                .signUpBtn{
                    border: none;
                    background-color: var(--fourth-color);
                    color: var(--third-color);
                    font-size: 1rem;
                    font-weight: 600;
                    padding: 10px 20px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                }
                
                .signUpBtn:hover {
                    background-color: var(--first-color);
                    color: white;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
                
                p {
                    color: var(--first-color);
                    a {
                        color: var(--fourth-color);
                        margin-left: 0.5rem;
                        transition: all 0.3s ease-in-out;
                    }
                    a:hover {
                        color: var(--first-color);
                    }
                }
            }
        }
    }
}

/* -------------------------------------------- Main Window */
/* ------------------------- header */

.home-manage-profile-logout-icons {
    display: flex;
    gap: 20px;
}

.home-manage-profile-logout-icons i,
.nav-buttons i,
#menu-icon {
    cursor: pointer;
    font-size: 30px;
    color: var(--first-color);
    transition: all 0.3s ease-in-out;
}

.home-manage-profile-logout-icons i:hover,
.nav-buttons i:hover,
#menu-icon:hover {
    scale: 1.2;
}

#menu-icon {
    display: none;
}

/* ------------------------- blurred-text */

.blurred {
    padding-top: 12rem;
    padding-bottom: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blurred-text {
    backdrop-filter: blur(10px);
    width: 60%;
    height: 50%;
    padding: 4rem 2rem;
    text-align: center;
    color: var(--first-color);
    
    h1 {
        margin-bottom: 10px;
    }
}

/* ------------------------------------------------------------------------------------- RESPONSIVE PART */
/* -------------------------------------------- INDEX */

@media screen and (max-width: 1024px) {

    /* ------------------------- logo */

    .header h3 {
        font-size: 1rem;
    }

    /* ------------------------- search-bar */

    .search-bar input {
        width: 300px;
        height: 35px;
        font-size: 13px;
    }

    .search-bar input::placeholder {
        font-size: 13px;
    }

    .search-bar a{
        top: 5px;
        font-size: 0.8rem;
    }

    /* ------------------------- nav-buttons */

    .nav-buttons button {
        height: 35px;
        font-size: 13px;
    }

    /* ------------------------- sentences */

    .sentence-container {
        .sentences {
            .sentence {
                width: 210px;
                height: 40px;
                font-size: 1.03rem;
            }
        
            .sentence:nth-child(1) {
                transform: translateX(-180px);
            }
        
            .sentence:nth-child(2) {
                transform: translateX(-105px);
            }
        
            .sentence:nth-child(3) {
                transform: translateX(-30px);
            }
        
            .sentence:nth-child(4) {
                transform: translateX(35px);
            }
        
            .sentence:nth-child(5) {
                transform: translateX(110px);
            }
        
            .sentence:nth-child(6) {
                transform: translateX(185px);
            }
        
            .sentence:nth-child(7) {
                transform: translateX(260px);
            }
        }    
    }

    /* ------------------------- buttons */

    .buttons button {
        width: 160px;
        height: 60px;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {

    /* ------------------------- header */

    .header section {
        padding: 0 15px;
        
        /* ------------------------- logo */

        h3 {
            font-size: 0.8rem;
        }
    }

    /* ------------------------- search-bar */


    .search-bar input {
        width: 170px;
        height: 30px;
        font-size: 11px;
        padding: 0 0 0 25px;
    }

    .search-bar input::placeholder {
        font-size: 11px;
    }

    .search-bar a{
        top: 7px;
        font-size: 0.8rem;
    }

    /* ------------------------- nav-buttons */

    .nav-buttons {
        gap: 0px;
        
        button {
            display: none;
        }
    }

    /* ------------------------- sentences */

    .sentence-container {
        .sentences {
            width: 85%;
            margin-top: 8rem;
    
            .sentence {
                width: 185px;
                height: 30px;
                font-size: 0.9rem;
            }
        
            .sentence:nth-child(1) {
                transform: translateX(-65px);
            }
        
            .sentence:nth-child(2) {
                transform: translateX(-35px);
            }
        
            .sentence:nth-child(3) {
                transform: translateX(-5px);
            }
        
            .sentence:nth-child(4) {
                transform: translateX(25px);
            }
        
            .sentence:nth-child(5) {
                transform: translateX(55px);
            }
        
            .sentence:nth-child(6) {
                transform: translateX(85px);
            }
        
            .sentence:nth-child(7) {
                transform: translateX(115px);
            }
        }    
    }

    /* ------------------------- buttons */

    .buttons button {
        width: 120px;
        height: 50px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 425px) {

    /* ------------------------- sentences */

    .sentence-container {
        .sentences {
            width: 85%;
            margin-top: 8rem;
        
            .sentence {
                width: 142px;
                height: 20px;
                font-size: 0.7rem;
            }
        
            .sentence:nth-child(1) {
                transform: translateX(-55px);
            }
        
            .sentence:nth-child(2) {
                transform: translateX(-35px);
            }
        
            .sentence:nth-child(3) {
                transform: translateX(-15px);
            }
        
            .sentence:nth-child(4) {
                transform: translateX(5px);
            }
        
            .sentence:nth-child(5) {
                transform: translateX(25px);
            }
        
            .sentence:nth-child(6) {
                transform: translateX(45px);
            }
        
            .sentence:nth-child(7) {
                transform: translateX(65px);
            }
        }
    }
}

/* -------------------------------------------- Log-In */

@media screen and (max-width: 768px) {
    .logInPage {
        .logInForm {
            max-width: 80%;
            
            h1 {
                font-size: 2rem;
            }
            
            form {
                font-size: 0.8rem;
                .inputData {
                    margin: 2rem auto;
                    
                    .userName, .password {
                        input {
                            height: 30px;
                        }
                        
                        input::placeholder {
                            font-size: 0.75rem;
                        }
                    }
                    .radioChoices {
                        .choices {
                            padding: 0 1.5rem;
                        }
                    }
                }
                
                .formBtn{
                    gap: 1rem;
                                       
                    .logInBtn {
                        font-size: 0.85rem;
                        padding: 7.5px 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .logInPage {
        .logInForm {
            max-width: 90%;
            padding: 2rem 1.25rem;
            
            form {
                .inputData .radioChoices {
                    flex-direction: column;
                    gap: 0.5rem;
                    .choices {
                        padding: 0;
                    }
                }
            }
        }
    }
}

/* -------------------------------------------- Sign-Up */

@media screen and (max-width: 768px) {
    .signUpPage {
        .signUpForm {
            max-width: 80%;
            
            h1 {
                font-size: 2rem;
            }
            
            form {
                font-size: 0.8rem;
                .inputData {
                    margin: 2rem auto;
                    
                    .userName, .password, .email, .confirmPassword {
                        input {
                            height: 30px;
                        }
                        
                        input::placeholder {
                            font-size: 0.75rem;
                        }
                    }
                    .radioChoices {
                        .choices {
                            padding: 0 1.5rem;
                        }
                    }
                }
                
                .formBtn{
                    gap: 1rem;
                    
                    .signUpBtn {
                        font-size: 0.85rem;
                        padding: 7.5px 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .signUpPage {
        .signUpForm {
            max-width: 90%;
            padding: 2rem 1.25rem;
            
            form {
                .inputData .radioChoices {
                    flex-direction: column;
                    gap: 0.5rem;
                    .choices {
                        padding: 0;
                    }
                }
            }
        }
    }
}

/* -------------------------------------------- Main Window */

@media screen and (max-width: 1024px) {

    /* ------------------------- blurred-text */

    .blurred-text {
        width: 85%;
        padding: 3rem 1rem;
    }
}

@media screen and (max-width: 768px) {

    /* ------------------------- header */

    .home-manage-profile-logout-icons i,
    .nav-buttons i,
    #menu-icon {
        font-size: 20px;
    }

    .home-manage-profile-logout-icons {
        gap: 5px;
    }

    /* ------------------------- blurred-text */

    .blurred-text {
        h1 {
            font-size: 1.1rem;
        }
    
        p {
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width: 425px) {

    /* ------------------------- header */

    #menu-icon {
        display: block;
        cursor: pointer;
    }

    .home-manage-profile-logout-icons {
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 20%;
        height: auto;
        padding: 30px 0;
        backdrop-filter: blur(20px);
        border-left: 2px solid var(--first-color);
        border-bottom: 2px solid var(--first-color);
        display: none;
    }

    :has(#menu-toggle:checked) .home-manage-profile-logout-icons {
        display: block;
    }

    .home-manage-profile-logout-icons a {
        display: block;
        font-size: 1rem;
        margin: 0.5rem 0;
        color: var(--first-color);
    }
}
