/* ------------------------------------------------------------------------------------- GENERAL CLASSES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --first-color: #867b62;
    --second-color: rgba(106, 105, 105, 0.6);
    --third-color: #251201;
    --card-background: #b49d65;
}

/* -------------------------------------------- header */

.header {
    width: 100%;
    height: 7vh;
    background: var(--third-color);
    top: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    
    section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        padding: 0 30px;
    }
    
    /* ------------------------- logo */

    h3 {
        color: var(--first-color);
        font-weight: 400;
    }
}

/* ------------------------- search-bar */

.search-bar input {
    width: 400px;
    border: none;
    background: var(--first-color);
    color: var(--third-color);
    height: 40px;
    padding: 0 10px;
    font-size: 15px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.search-bar input::placeholder {
    color: var(--third-color);
    font-style: italic;
    font-size: 15px;
}

.search-bar input:focus,
.search-bar input:active,
.search-bar input:hover {
    outline: none;
    box-shadow: 0 0 30px var(--second-color);
}

/* ------------------------- nav-icons */

.home-manage-profile-logout-icons {
    display: flex;
    gap: 20px;
}

.home-manage-profile-logout-icons i,
.nav-buttons i,
#menu-icon {
    cursor: pointer;
    font-size: 30px;
    color: var(--first-color);
    transition: all 0.3s ease-in-out;
}

.home-manage-profile-logout-icons i:hover,
.nav-buttons i:hover,
#menu-icon:hover {
    scale: 1.2;
}

#menu-icon {
    display: none;
}

/* -------------------------------------------- Book List Page */
#Books {
    width: 100%;
    text-align: center;
    margin: 10rem auto;
    max-width: 1300px;
    padding: 0px 35px;
    display: flex;
    flex-direction: column;
    color: var(--third-color);

    .logoPage {
        width: 150px;
        margin-bottom: 10px;
    }
    
    .marginTitle {
        font-style: italic;
        color: var(--third-color);
    }
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 25px;
        margin: auto;
        transition: all 0.3s ease-in-out;
    }
    
    .booktype {
        .header-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            margin-top: 100px;
        }

        h2 {
            color: var(--third-color);
            font-weight: bold;
            text-align: center;
            font-size: 30px;
            margin-top: 5rem;
            margin-bottom: 2rem;
        }
    
        h5{
            color: var(--third-color);
            font-weight: bold;
        }
        
        .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 25px;
            
            .card {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 25px;
                padding: 1rem;
                max-width: 350px;
                border-radius: 40px;
                overflow: hidden;
                position: relative;
                background-color: var(--card-background);
                transition: all 0.3s ease-in-out;
                color: var(--third-color);
                
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    border-radius: 25px;
                    margin: auto;
                    transition: all 0.3s ease-in-out;
                }
                
                p {
                    font-style: italic;
                    color: var(--third-color);
                }
                
                .card-actions{
                    margin-top: 25px;

                    a{
                        .borrow-btn{
                            background-color: var(--first-color);
                            font-weight: 600;
                            padding: 10px 20px;
                            border-radius: 10px;
                            cursor: pointer;
                            transition: all 0.3s ease-in-out;
                            color: var(--third-color);
                            i {margin-right: 0.5rem;}
                        }
                        .borrow-btn:hover{
                            background-color: var(--third-color);
                            box-shadow: 0 0 25px var(--first-color);
                            color: white;
                             border:none;
                        }
                    }
                    
                    a{
                        .Book-Review-btn {
                            background-color: var(--first-color);
                            font-weight: 600;
                            padding: 10px 20px;
                            border-radius: 10px;
                            cursor: pointer;
                            transition: all 0.3s ease-in-out;
                            color: var(--third-color);
                            i {margin-right: 0.5rem;}
                        }
                        
                        .Book-Review-btn:hover {
                            background-color: var(--third-color);
                            box-shadow: 0 0 25px var(--first-color);
                            color: white;
                            border:none;
                        }
                    }
                }
            }
            
            .card:hover {
                transform: scale(1.02);
                box-shadow: 0 0 50px var(--first-color);
            }
        }
    }
    
 .availability {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 5px;
}
.available {
   background-color: #4CAF50;
   color: white;
}
.unavailable {
   background-color: #f44336;
   color: white;
}
.due-date {
   font-size: 0.8em;
   color: #666;
   margin-top: 3px;
}

}

/* -------------------------------------------- Book Review */

.r-p-main {
    min-height: 100vh;
    background: url("../img/main.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
    
    .book-box{
        margin: auto;
        width: 70%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 35px 15px;
        background: #b7831134; /* Semi-transparent */
        backdrop-filter: blur(10px); /* Blur effect */
        border-radius: 15px; /* Rounded corners */
        box-shadow: 5px 5px 10px rgba(134, 88, 7, 0.559); /* Soft shadow */
    }
}

.r-p-main .book-box .book-box-img{
    width: 400px;
    height: 400px;
    
    img{
        height: 100%;
        border-radius: 15px;
        transition: 0.5s;
    }
}

.r-p-main .book-box .book-box-img img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.r-p-main .book-box .book-box-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: left;
    
    h3{
        font-size: 25px;
        color: white;
        span {
            color: var(--first-color);
        }
    }
    
    a{
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        max-width: 50%;
        
        button {
            border: none;
            width: 100%;
            background-color: var(--first-color);
            color: var(--third-color);
            font-size: 1rem;
            font-weight: 600;
            padding: 10px 20px;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        
        button:hover {
            background-color: var(--third-color);
            box-shadow: 0 0 25px var(--first-color);
            color: white;
        }
    }
}

/* -------------------------------------------- Borrow Page */
#book-page2812 {
    background-color: var(--first-color);
}
#info2812{
    width: 1000px;
    height: 400px;
    position: absolute;
    left: 230px;
    top: 250px;
    
    input{
        font-weight: bolder;
        border:none;
        padding-left: 8px;
    }
    
    label{
        color:var(--second-color);
    }
    
    button{
        position: relative;
        top:230px;
        left: 800px;
        width: 150px;
        cursor: pointer;
        border-radius: 15px;
        background-color: var(--first-color);
    }
    
    button:hover{
        background-color: var(--first-color);
        opacity: 40%;
    }
    
    button:focus{
        background-color: var(--first-color);
        opacity: 50%;
    }
    
    button:active{
        background-color: var(--first-color);
        opacity: 80%;
    }
    
}
#info2812 , #info2812 input{
    background-color: var(--third-color);
    color : var(--second-color);
    font-size:15px;
    font-weight: border;

}
#infobook22812 {
    position: absolute;
        top: 100px;
        left:600px;

    }
    
#infobook12812 {
position: relative;
    top: 100px;
    left:60px;
}

#infobook22812 >label,#infobook22812 > input,#infobook12812>label,#infobook12812>input{
margin:16px 3px;
}

/* -------------------------------------------- Profile */

#body2812 {
    background-color: var(--first-color);


}

#form2812 {
    width: 1000px;
    height: 550px;
    background-color: var(--third-color);


    border-style: solid;
    border-radius: 5px;
    border-color: #b0bec5;
    font-size: 15px;
    color: rgb(2, 15, 27);
    position: absolute;
    left: 230px;
    top: 100px;

}

#navbtn2812 {
    position: relative;
    width: 150px;
    height: 440px;



}

#labels {
    display: inline-block;
    position: relative;
    left: 300px;
    top: -370px;
    
    input:focus {
        background-color: #dddddd;
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    }
}

#labels>label {

    color: var(--second-color);
    display: inline-block;
    padding-right: 58px;
    margin-top: 50px;

}

#labels input[type="text"] {
    width: 350px;
    padding: 5px 10px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 12px;
}




#formgender {
    position: relative;

}

/* .male, .female{
    display: flex;
    border: 2px solid #ccc; 
    border-radius: 28px;
   
} */

/* #male,#female {
    display: none;
} */

/* .male,.female {
    margin-left: 50px;
    cursor: pointer;
    background-color: white;
    color: #666;
    font-weight: bold;
    transition: all 0.3s ease;
    display:inline-block;
}
.male{
   padding:20px 50px;
}
.female{
    padding:20px 40px;
} */

/* .male:hover  {
    background-color: #3714e4;
    color: white;
    opacity:12%;
    box-shadow: 2px 2px  #3714e4;
}
.female:hover  {
    background-color: #e621b4; 
    color: white;
    opacity:12%;
    box-shadow: 2px 2px  #e621b4;

}
#female:checked +label {
    background-color: #e621b4; 
    color: white;
}

 #male:checked+label  {
    background-color: #3714e4; 
    color: white;
} */


#navbtn2812 button {
    border: none;
    margin-right: 10px;
    position: relative;
    top: 40px;
    width: 150px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 15px;

}


#profilebtn2812 {
    background-color: orange;
}

#borrowbtn2812 {
    opacity: 50%;
}

/* -------------------------------------------- Borrowed Books */

.reserve-btn {
    background-color: var(--first-color);
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--third-color);
    i {margin-right: 0.5rem;}
}

.reserve-btn:hover {
    background-color: var(--third-color);
    box-shadow: 0 0 25px var(--first-color);
    color: white;
    border:none;
}




/* ------------------------------------------------------------------------------------- RESPONSIVE PART */
/* -------------------------------------------- List Page */





/* -------------------------------------------- Book Review */

@media screen and (max-width: 425px){
    
    .r-p-main .book-box .book-box-img{
        width: 250px;
        height: 250px;

        img{
            width: 100%;
        }
    }
}



/* -------------------------------------------- Profile */





/* -------------------------------------------- Borrowed Books */
